* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 75%;
    margin: 0 auto;
}

header {
    padding: 10px;
    margin-bottom: 40px;
    background-color: white;
}

.logo {
    vertical-align: middle;
}

.text-logo {
    font-size: 40px;
    font-weight: bold;
    vertical-align: middle;
}

.bg-color {
    background-color: lightgray;
}

.button {
    height: 55px;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 15px;
    padding-left: 50px;
}

.button1 {
    color: white;
    background-color: rgba(60, 119, 245, 0.897);
    border: none;
    height: 30px;
    width: 80px;
    border-radius: 5px;
}

.button2 {
    color: gray;
    border-color: lightgrey;
    font-weight: bold;
    height: 30px;
    width: 100px;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    margin-bottom: 20px;
}

.list {
    margin-top: 2px;
    background-color: white;
    padding-top: 25px;
    padding-left: 50px;
    padding-bottom: 25px;
}